<a href="https://colab.research.google.com/github/noahgift/quality-of-life/blob/main/quality_life.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Ingest

In [1]:
import pandas as pd

In [13]:
life_df = pd.read_csv("https://raw.githubusercontent.com/noahgift/quality-of-life/4472e7ce6d514f14902577915144f5b3d64aee5f/expectancy.csv")
life_df.head()

       country   both  female   male
0    Hong Kong  85.29   88.17  82.38
1        Japan  85.03   88.09  81.91
2        Macao  84.68   87.62  81.73
3  Switzerland  84.25   86.02  82.42
4    Singapore  84.07   86.15  82.06

In [14]:
happiness_df = pd.read_csv("https://raw.githubusercontent.com/noahgift/quality-of-life/main/happiness-2021.csv")
happiness_df.head()

   rank      country  happiness2021  happiness2020    pop2022
0     1      Finland          7.842          7.809   5554.960
1     2      Denmark          7.620          7.646   5834.950
2     3  Switzerland          7.571          7.560   8773.637
3     4      Iceland          7.554          7.504    345.393
4     5  Netherlands          7.464          7.449  17211.447

In [16]:
df = happiness_df.merge(life_df)
df.head()

,rank,country,happiness2021,happiness2020,pop2022,both,female,male
0,1,Finland,7.842,7.809,5554.960,82.48,85.14,79.82
1,2,Denmark,7.620,7.646,5834.950,81.40,83.27,79.54
2,3,Switzerland,7.571,7.560,8773.637,84.25,86.02,82.42
3,4,Iceland,7.554,7.504,345.393,83.52,84.90,82.15
4,5,Netherlands,7.464,7.449,17211.447,82.78,84.35,81.20

In [17]:
df.corr()

,rank,happiness2021,happiness2020,pop2022,both,female,male
rank,1.000000,-0.984043,-0.974862,0.101825,-0.776096,-0.769823,-0.768084
happiness2021,-0.984043,1.000000,0.990066,-0.104064,0.764719,0.755504,0.760054
happiness2020,-0.974862,0.990066,1.000000,-0.117222,0.755342,0.744301,0.753109
pop2022,0.101825,-0.104064,-0.117222,1.000000,-0.015832,-0.024557,-0.003793
both,-0.776096,0.764719,0.755342,-0.015832,1.000000,0.991216,0.989705
female,-0.769823,0.755504,0.744301,-0.024557,0.991216,1.000000,0.962294
male,-0.768084,0.760054,0.753109,-0.003793,0.989705,0.962294,1.000000

AttributeError: ignored